@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --donkerblauw: #1A5E63;
    --groen: white;
    --background: #192824;
}

:nth-of-type(1) {
    --nth-child: 1
}

:nth-of-type(2) {
    --nth-child: 2
}

:nth-of-type(3) {
    --nth-child: 3
}

:nth-of-type(4) {
    --nth-child: 4
}

:nth-of-type(5) {
    --nth-child: 5
}

:nth-of-type(6) {
    --nth-child: 6
}

:nth-of-type(7) {
    --nth-child: 7
}

:nth-of-type(8) {
    --nth-child: 8
}

:nth-of-type(9) {
    --nth-child: 9
}

:nth-of-type(10) {
    --nth-child: 10
}


/* Global declarations */

h1,
p,
h2 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 6vw;
    font-weight: 600;
}


/* HEADING BEGIN OF PAGE */

body>header:nth-child(1) {
    height: 100vh;
    background: linear-gradient(45deg, var(--donkerblauw), transparent), repeating-linear-gradient(45deg, var(--donkerblauw) 0%, var(--donkerblauw) 5%, transparent 5%, transparent 10%), var(--donkerblauw) repeating-linear-gradient(-45deg, var(--donkerblauw) 0%, var(--groen) 5%, transparent 5%, transparent 10%);
    background-blend-mode: multiply;
}

body>header:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

body>header:nth-child(1) p {
    font-size: 2vw;
    font-weight: 300;
}


/* Header spans */

header:nth-child(1) h1 span {
    opacity: 0.1;
    animation: text 1s ease forwards;
    transition: ease-in-out;
}

header:nth-child(1) h1 span:nth-child(1) {
    animation: line-animation 2s ease forwards;
}

header:nth-child(1) h1 span:nth-child(2) {
    animation: line-animation 3s ease forwards;
}

header:nth-child(1) h1 span:nth-child(3) {
    animation: line-animation 4s ease forwards;
}

header:nth-child(1) h1 span:nth-child(4) {
    animation: line-animation 5s ease forwards;
}

header:nth-child(1) h1 span:nth-child(5) {
    color: var(--donkerblauw);
    filter: hue-rotate(360deg) drop-shadow(16px 16px 20px var(--groen));
    animation: text-shadow 0.6s ease-in-out both;
    animation-delay: 4s;
}

header:nth-child(1) h1 span:nth-child(6) {
    animation: line-animation 6s ease forwards;
}

header:nth-child(1) h1 span:nth-child(7) {
    animation: line-animation 7s ease forwards;
}

header:nth-child(1) h1 span:nth-child(8) {
    animation: line-animation 8s ease forwards;
}

header:nth-child(1) h1 span:nth-child(9) {
    animation: line-animation 9s ease forwards;
}

header:nth-child(1) h1 span:nth-child(10) {
    animation: line-animation 10s ease forwards;
}

header:nth-child(1) h1 span:nth-child(11) {
    animation: line-animation 11s ease forwards;
}

header:nth-child(1) h1 span:nth-child(12) {
    animation: line-animation 12s ease forwards;
}

header:nth-child(1) h1 span:nth-child(13) {
    animation: line-animation 13s ease forwards;
}

header:nth-child(1) h1 span:nth-child(14) {
    animation: line-animation 14s ease forwards;
}


/* Header paragraph */

body>header:nth-child(1) p {
    color: white;
    font-weight: 300;
    animation: text-shadow 0.6s ease-in-out both;
    animation: change 3s ease-in-out;
    filter: drop-shadow(16px 20px var(--donkerblauw)) invert(15%);
    animation-delay: 4s;
}


/* Main */

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 200px;
}


/* Set all headers */

header {
    z-index: 2;
    position: relative;
    background-color: darkblue;
}


/* Div behind the sections */

section:nth-child(1)>div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Section layouts */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    width: 380px;
    background-color: var(--donkerblauw);
    color: #fff;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 10px -10px 0 -3px var(--donkerblauw), 10px -10px var(--background), 20px -20px 0 -3px var(--background), 20px -20px var(--donkerblauw), 30px -30px 0 -3px var(--background), 30px -30px var(--donkerblauw), 40px -40px 0 -3px var(--background), 40px -40px var(--donkerblauw);
    background: linear-gradient(25deg, var(--donkerblauw), transparent), repeating-linear-gradient(45deg, var(--donkerblauw) 0%, var(--donkerblauw) 5%, transparent 5%, transparent 10%), var(--donkerblauw) repeating-linear-gradient(-45deg, var(--donkerblauw) 0%, var(--groen) 5%, transparent 5%, transparent 10%);
    background-blend-mode: hard-light;
    margin-top: 10rem;
}

section::after,
section::before {
    content: '';
    display: flex;
    border-radius: 50%;
    animation: glow 1.5s linear infinite alternate;
    box-shadow: 0px 0px 9px 4px var(--background);
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

section::after {
    position: absolute;
    background-color: white;
    height: 100px;
    width: 100px;
    opacity: 0.2;
    border: 20px solid var(--donkerblauw);
}

section::before {
    background-image: url('https://img-fotki.yandex.ru/get/194549/29644339.5/0_d6c60_1d7815f0_orig');
    background-color: transparent;
    transition: all 0.35s linear;
    padding: 0 5px 0 0;
    position: absolute;
    right: 20px;
    bottom: 15px;
    height: 52px;
    width: 52px;
}

section:hover::before {
    background-color: var(--donkerblauw);
    transition: 1s;
}

section:hover::after {
    border: 20px solid var(--background);
}


/* 
section:hover {
    transition: 1s;
    animation: remove 1.5s linear forwards;
    animation: show linear forwards;
} */

main>section:hover header~article {
    --width: 50vw;
    --top: 380px + 10rem;
    opacity: 1;
    background-color: red;
    color: white;
    backface-visibility: hidden;
    z-index: 1;
    width: var(--width);
    height: 200px;
    left: 0;
    /* left: calc(var(--width) * var(--nth-child) - var(--width)); */
    /* top: calc(var(--top)); */
    top: calc((var(--nth-child) / 2) * var(--top));
}

main>section:hover header~article:nth-of-type(2n) {
    top: calc((var(--nth-child) / 2) * var(--top) - var(--top) / 2);
    left: 50vw;
}

main>section:hover:nth-of-type(n+5) header~article {
    top: calc(760px + 20rem);
}

section:nth-child(1):hover+article {
    z-index: 1;
}


/* main>section article:nth-child(2n+1) {
    left: 50vw;
} */


/* Articles */

article {
    position: absolute;
    height: 300px;
    width: 300px;
    z-index: -1;
    background-color: red;
    opacity: 0;
}


/* Keyframes */

@keyframes text-shadow {
    0% {
        text-shadow: 0 0 0 var(--groen);
    }
    100% {
        text-shadow: 0 0 18px var(--groen);
    }
}

@keyframes text {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes line-animation {
    from {
        opacity: 0.1;
        color: var(--donkerblauw);
    }
    to {
        opacity: 1;
        color: white;
    }
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px -10px var(--donkerblauw);
    }
    to {
        box-shadow: 0 0 10px 10px var(--groen);
    }
}

@keyframes glow {
    to {
        box-shadow: 0px 0px 30px 20px var(--donkerblauw);
    }
}

@keyframes remove {
    from {
        box-shadow: 10px -10px 0 -3px var(--donkerblauw), 10px -10px var(--background), 20px -20px 0 -3px var(--background), 20px -20px var(--donkerblauw), 30px -30px 0 -3px var(--background), 30px -30px var(--donkerblauw), 40px -40px 0 -3px var(--background), 40px -40px var(--donkerblauw);
    }
    to {
        box-shadow: 10px 10px 10px;
    }
}

@keyframes show {
    from {
        z-index: -1;
        position: absolute;
    }
    to {
        z-index: 1;
        position: inherit;
    }
}