@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --donkerblauw: #1A5E63;
    --groen: white;
    --primary: #22D2A0;
    --secondary: #192824;
    --background: #192824;
    --green: #1FC11B;
    --yellow: #FFD913;
    --orange: #FF9C55;
    --red: #FF5555;
}


/* main :not(header *) {
    display: none;
} */

body>header:nth-child(1) {
    height: 100vh;
    background: linear-gradient(45deg, var(--donkerblauw), transparent), repeating-linear-gradient(45deg, var(--donkerblauw) 0%, var(--donkerblauw) 5%, transparent 5%, transparent 10%), var(--donkerblauw) repeating-linear-gradient(-45deg, var(--donkerblauw) 0%, var(--groen) 5%, transparent 5%, transparent 10%);
    background-blend-mode: multiply;
}


/* headings */

h1,
p,
h2 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 6vw;
    font-weight: 600;
}


/* first header of body */

body>header:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}


/* first header paragraph */

body>header:nth-child(1) p {
    font-size: 2vw;
    font-weight: 300;
}


/* Set main to flexbox */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/* Set all headers */

header {
    z-index: 2;
}


/* All sections */

section {
    margin-top: 10rem;
    /* transform: perspective(400px) rotateY(5deg); */
}


/* Header spans */

header:nth-child(1) h1 span:nth-child(1) {
    animation: text 1s ease forwards;
    animation: line-animation 2s ease forwards;
    transition: ease-in-out;
    opacity: 0.1;
}

header:nth-child(1) h1 span:nth-child(2) {
    animation: text 1s ease forwards;
    transition: ease-in-out;
    animation: line-animation 3s ease forwards;
    opacity: 0.1;
}

header:nth-child(1) h1 span:nth-child(3) {
    animation: text 1s ease forwards;
    transition: ease-in-out;
    animation: line-animation 4s ease forwards;
    opacity: 0.1;
}

header:nth-child(1) h1 span:nth-child(4) {
    animation: text 1s ease forwards;
    transition: ease-in-out;
    animation: line-animation 5s ease forwards;
    opacity: 0.1;
}

header:nth-child(1) h1 span:nth-child(5) {
    color: var(--donkerblauw);
    filter: hue-rotate(360deg) drop-shadow(16px 16px 20px var(--groen));
    animation: text-shadow 0.6s ease-in-out both;
    animation-delay: 4s;
}

header:nth-child(1) h1 span:nth-child(6) {
    animation: text 1s ease forwards;
    transition: ease-in-out;
    animation: line-animation 6s ease forwards;
    opacity: 0.1;
}

header:nth-child(1) h1 span:nth-child(7) {
    animation: text 1s ease forwards;
    animation: line-animation 7s ease forwards;
    transition: ease-in-out;
    opacity: 0.1;
}

header:nth-child(1) h1 span:nth-child(8) {
    animation: text 1s ease forwards;
    animation: line-animation 8s ease forwards;
    transition: ease-in-out;
    opacity: 0.1;
}

header:nth-child(1) h1 span:nth-child(9) {
    animation: text 1s ease forwards;
    animation: line-animation 9s ease forwards;
    transition: ease-in-out;
    opacity: 0.1;
}

header:nth-child(1) h1 span:nth-child(10) {
    animation: text 1s ease forwards;
    animation: line-animation 10s ease forwards;
    transition: ease-in-out;
    opacity: 0.1;
}

header:nth-child(1) h1 span:nth-child(11) {
    animation: text 1s ease forwards;
    animation: line-animation 11s ease forwards;
    transition: ease-in-out;
    opacity: 0.1;
}

header:nth-child(1) h1 span:nth-child(12) {
    animation: text 1s ease forwards;
    animation: line-animation 12s ease forwards;
    transition: ease-in-out;
    opacity: 0.1;
}

header:nth-child(1) h1 span:nth-child(13) {
    animation: text 1s ease forwards;
    animation: line-animation 13s ease forwards;
    transition: ease-in-out;
    opacity: 0.1;
}

header:nth-child(1) h1 span:nth-child(14) {
    animation: text 1s ease forwards;
    animation: line-animation 14s ease forwards;
    transition: ease-in-out;
    opacity: 0.1;
}


/* Header paragraph */

body>header:nth-child(1) p {
    color: white;
    font-weight: 300;
    animation: text-shadow 0.6s ease-in-out both;
    animation: change 3s ease-in-out;
    filter: drop-shadow(16px 20px var(--donkerblauw)) invert(15%);
    animation-delay: 4s;
}


/* Everything insde the first div except the header */

section div:nth-child(1) * :not(header *) {
    opacity: 0;
    display: none;
}

div:nth-child(2) {
    display: none;
}

section div:nth-child(1) header {
    text-align: center;
}

div:nth-child(1) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    width: 380px;
    background-color: var(--donkerblauw);
    color: #fff;
    margin: 10px;
    border-radius: 20px;
    z-index: 2;
    box-shadow: 10px -10px 0 -3px var(--donkerblauw), 10px -10px var(--background), 20px -20px 0 -3px var(--background), 20px -20px var(--donkerblauw), 30px -30px 0 -3px var(--background), 30px -30px var(--donkerblauw), 40px -40px 0 -3px var(--background), 40px -40px var(--donkerblauw);
    background: linear-gradient(25deg, var(--donkerblauw), transparent), repeating-linear-gradient(45deg, var(--donkerblauw) 0%, var(--donkerblauw) 5%, transparent 5%, transparent 10%), var(--donkerblauw) repeating-linear-gradient(-45deg, var(--donkerblauw) 0%, var(--groen) 5%, transparent 5%, transparent 10%);
    background-blend-mode: hard-light;
}

div:nth-child(1)::after {
    content: '🧫';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid white;
    opacity: 0.2;
    box-shadow: 0px 0px 9px 4px var(--background);
    animation: glow 1.5s linear infinite alternate;
    border: 20px solid var(--donkerblauw);
}

div:nth-child(1)::before {
    content: '';
    background-image: url('https://img-fotki.yandex.ru/get/194549/29644339.5/0_d6c60_1d7815f0_orig');
    background-color: transparent;
    transition: all 0.35s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px 0 0;
    position: absolute;
    right: 20px;
    bottom: 15px;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 0px 9px 4px var(--background);
    animation: glow 1.5s linear infinite alternate;
}

div:nth-child(1):hover::before {
    /* background: linear-gradient(20deg, var(--donkerblauw), transparent), repeating-linear-gradient(15deg, var(--donkerblauw) 0%, var(--donkerblauw) 5%, transparent 5%, transparent 10%), var(--donkerblauw) repeating-linear-gradient(-30deg, var(--donkerblauw) 0%, var(--groen) 5%, transparent 5%, transparent 10%); */
    background-color: var(--donkerblauw);
    /* background-blend-mode: difference; */
    transition: 1s;
}

div:nth-child(1):hover::after {
    border: 20px solid var(--background);
}

div:nth-child(1):hover {
    /* transform: rotate(-5deg); */
    transform: skew(2deg, 2deg);
    transition: 1s;
    animation: remove 1.5s linear forwards;
}

div:nth-child(1):hover {
    transform: skew(2deg, 2deg);
    transition: 1s;
    animation: remove 1.5s linear forwards;
    /* display: block; */
}

div:nth-child(1):active * {
    /* opacity: 1; */
    /* display: block;
    animation: show 1.5s linear forwards;
    animation: text 1.5s linear forwards; */
    /* animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}

div:nth-child(1):hover+section div:nth-child(1) * {
    display: block;
}

@keyframes text-shadow {
    0% {
        text-shadow: 0 0 0 var(--groen);
    }
    100% {
        text-shadow: 0 0 18px var(--groen);
    }
}

@keyframes text {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes line-animation {
    from {
        opacity: 0.1;
        color: var(--donkerblauw);
    }
    to {
        opacity: 1;
        color: white;
    }
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px -10px var(--donkerblauw);
    }
    to {
        box-shadow: 0 0 10px 10px var(--groen);
    }
}

@keyframes shadow-wave {
    0% {
        /* border: 3px solid var(--primary); */
        box-shadow: 10px -10px 0 -3px var(--donkerblauw), 10px -10px var(--background), 20px -20px 0 -3px var(--background), 20px -20px var(--donkerblauw), 30px -30px 0 -3px var(--background), 30px -30px var(--donkerblauw), 40px -40px 0 -3px var(--background), 40px -40px var(--donkerblauw);
    }
    20% {
        box-shadow: 10px -10px 0 -3px var(--donkerblauw), 10px -10px var(--background), 20px -20px 0 -3px var(--background), 20px -20px var(--donkerblauw), 30px -30px 0 -3px var(--background), 30px -30px var(--donkerblauw), 40px -40px 0 -3px var(--background), 40px -40px var(--donkerblauw);
    }
    40% {
        box-shadow: 10px -10px 0 -3px var(--donkerblauw), 10px -10px var(--background), 20px -20px 0 -3px var(--background), 20px -20px var(--donkerblauw), 30px -30px 0 -3px var(--background), 30px -30px var(--donkerblauw), 40px -40px 0 -3px var(--background), 40px -40px var(--donkerblauw);
    }
    60% {
        box-shadow: 10px -10px 0 -3px var(--donkerblauw), 10px -10px var(--background), 20px -20px 0 -3px var(--background), 20px -20px var(--donkerblauw), 30px -30px 0 -3px var(--background), 30px -30px var(--donkerblauw), 40px -40px 0 -3px var(--background), 40px -40px var(--donkerblauw);
    }
    80% {
        box-shadow: 10px -10px 0 -3px var(--donkerblauw), 10px -10px var(--background), 20px -20px 0 -3px var(--background), 20px -20px var(--donkerblauw), 30px -30px 0 -3px var(--background), 30px -30px var(--donkerblauw), 40px -40px 0 -3px var(--background), 40px -40px var(--donkerblauw);
    }
    100% {
        box-shadow: 10px -10px 0 -3px var(--donkerblauw), 10px -10px var(--background), 20px -20px 0 -3px var(--background), 20px -20px var(--donkerblauw), 30px -30px 0 -3px var(--background), 30px -30px var(--donkerblauw), 40px -40px 0 -3px var(--background), 40px -40px var(--donkerblauw);
    }
}

@keyframes glow {
    to {
        box-shadow: 0px 0px 30px 20px var(--donkerblauw);
    }
}

@keyframes remove {
    from {
        box-shadow: 10px -10px 0 -3px var(--donkerblauw), 10px -10px var(--background), 20px -20px 0 -3px var(--background), 20px -20px var(--donkerblauw), 30px -30px 0 -3px var(--background), 30px -30px var(--donkerblauw), 40px -40px 0 -3px var(--background), 40px -40px var(--donkerblauw);
    }
    to {
        box-shadow: 10px 10px 10px;
    }
}

@keyframes show {
    from {
        display: none;
    }
    to {
        display: block;
    }
}

@keyframes test {
    from {
        background: linear-gradient(20deg, var(--donkerblauw), transparent), repeating-linear-gradient(15deg, var(--donkerblauw) 0%, var(--donkerblauw) 5%, transparent 5%, transparent 10%), var(--donkerblauw) repeating-linear-gradient(-30deg, var(--donkerblauw) 0%, var(--groen) 5%, transparent 5%, transparent 10%);
    }
    to {
        background: linear-gradient(20deg, var(--donkerblauw), transparent), repeating-linear-gradient(15deg, var(--donkerblauw) 0%, var(--donkerblauw) 5%, transparent 5%, transparent 10%), yellow repeating-linear-gradient(-30deg, var(--donkerblauw) 0%, var(--groen) 5%, transparent 5%, transparent 10%);
    }
}