@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

:root {
    --donkerblauw: #1A5E63;
    --groen: lightblue;
}

body {
    background-color: white;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: var(--donkerblauw);
}


h2 {
    color: var(--groen);
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.025em;
    display: flex;
    text-align: center;
    justify-content: center;
}

h3 {
    color: var(--groen);
}

p {
    line-height: 1.25;
    overflow: hidden;
    color: var(--groen);
    opacity: 0.6;
    font-weight: 300;
}

/* heading */

/* Mother div of everything */
div:nth-child(1) {
    grid-template-columns: repeat(3, auto);
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 10px;
}



/* Selects all <header> elements where the parent is a <body> element */
body > header:nth-child(1) {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    font-size: 3vw;
    color: var(--groen);
}

body > header:nth-child(1) p {
    color: var(--groen);
    font-size: 0.5em;
}

h1:nth-child(1) > span:nth-child(2) {
    font-size: 0.5em;
}
/* end heading */


section {
    text-align: center;
    position: relative;
    justify-items: center;
    margin-bottom: 8px;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article p {
    order: 1;
    flex-basis: 100%;
}


section article div {
    margin-left: 6px;
    color: var(--groen);
    opacity: 0.6;
    font-weight: 400;
}

section article div::before {
    content: '€';
    color: var(--groen);
    opacity: 0.6;
    font-weight: 500;
}



div:nth-child(1) > section:nth-child(6) {
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    margin: 36px 16px 24px;
    position: relative;
    place-items: center; 
}

div:nth-child(1) > section:nth-child(7) {
    grid-column: 1/6;
    grid-row: 5/6;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    margin: 36px 16px 24px;
    position: relative;
    place-items: center;
}

blockquote {
    color: var(--groen);
    font-weight: 900;
}
